h1 {color: orchid;}
p1 {color: orange;}
p2 {color: navajowhite;}
p3 {color: mediumpurple;}
a {color: orangered;}
body {background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);background-repeat: no-repeat; height: 100vh;}
h3 {color: rgb(233, 159, 21);}